<!-- Extend layout -->
{% extends 'layout.html' %}

<!-- Set page title -->
{% block title %}Home{% endblock %}

<!-- Page content -->
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to my Portfolio!</h1>
  <p class="lead">
    This portfolio is to show my work on the technical phase of my studies in
    Cincinnatus.
  </p>
  <hr class="my-4" />
  <p>
    Hi, I'm <strong>Adonys Santos</strong>, a student at Cincinnatus Institute
    of Craftsmanship. I'm currently studying software development.
  </p>
  <p>
    I make this portfolio to show my work on the technical phase of my studies
    in institution.
  </p>
  <a class="btn btn-primary btn-lg" href="/courses" role="button"
    >View courses progress</a
  >
  <p class="lead mt-2">
    <a
      class="btn btn-primary btn-lg"
      href="https://twitter.com/adonyssantos_"
      role="button"
      target="_blank"
    >
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a
      class="btn btn-primary btn-lg"
      href="https://github.com/adonyssantos"
      role="button"
      target="_blank"
    >
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a
      class="btn btn-primary btn-lg"
      href="https://linkedin.com/in/adonyssantos"
      role="button"
      target="_blank"
    >
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
  </p>
</div>
{% endblock %}
